/* Backgroud Color */
body {
    background-color: lavender;
}

/* Contact Form Spacing */
.contact-form {
    padding: 25px
}

section {
    background-color: white;
}

/* Submit Button Coloring */
.btn-my-primary {
    background-color: lightpink;
    color: black;
}
.btn-my-primary:hover {
    background-color: lightgreen;
    color: black;
}

/* Nav Text Color */
.nav-link {
    color: black;
}